.hero-article {
    width: 315px;
    border-top: 2px solid white;
    margin-bottom: 20px;
    &__title {
        padding-top: 12px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    &__price {
        color: white;
        font-size: 48px;
        font-weight: bold;
        margin: 0;
    }
    &__text {
        color: white;
        font-size: 12px;
        margin-bottom: 17px;
    }
    &__list {
        li {
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
    @media screen and (max-width: 320px) {
        border-top: none;
        width: auto;
    }
}//.hero-article
.bundles-article {
    padding-bottom: 180px;
    &__title {
        margin-top: 118px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: bold;
    }
    &__text {
        font-size: 20px;
        color: #333333;
        margin: 0;
    }
    &__link {
        a {
            color: #CD040B;
            font-weight: bold;
        }
    }
}//.bundles-article
.gig-article {
    &__title {
        font-size: 36px;
        font-weight: bold;
        color: black;
    }
    &__text {
        font-size: 18px;
    }
}
.card-article {
    border-top: 2px solid black;
    &__section-price {
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        &--subtitle {
            font-size: 16px;
            font-weight: bold;
        }
        &--price {
            font-weight: bold;
            font-size: 30px;
        }
        &--text {
            color: #333333;
            font-size: 12px;
        }
    }

    &__section-internet {
        border-bottom: 2px solid #F2F2F2;
        &--title {
            font-size: 14px;
            font-weight: bold;
        }
        &--subtext {
            color: #4B4B4B;
        }
        &--text {
            color: #4B4B4B;
        }
    }

    &__section-tv {
        border-bottom: 2px solid #F2F2F2;
        &--title {
            font-size: 14px;
            font-weight: bold;            
        }
        &--text {
            color: #4B4B4B; 
        }
        &--list-title {
            color: #333333;
            font-size: 12px;
            font-weight: bold;
            text-decoration: underline;
        }
        .tv-list {
            li {
                position: relative;
                height: 60px;
            }
            span {
                font-size: 12px;
                position: absolute;
                top: -1px;
                left: 76px;
                width: 116px;
                font-weight: bold;                
            }
        }
        &--subtext {
            font-size: 12px;
            font-weight: bold;
        }
    }
    &__section-phone {
        border-bottom: 2px solid #F2F2F2;
        &--title {
            font-size: 14px;
            font-weight: bold;               
        }
        &--text {
            color: #4B4B4B; 
            font-size: 14px;
        }
    }
    &__footer {
        border-bottom: 2px solid #F2F2F2;
        &--text {
            font-size: 14px;
            font-weight: bold;
        }
    }
}