.footer {
    padding-top: 89px;
    padding-bottom: 120px;
    .top-footer {
        padding-bottom: 85px;
        &__title {
            font-size: 36px;
            font-weight: bold;
            span {
                color: #CD040B;
            }
            margin-bottom: 0;
        }
        &__text {
            font-size: 20px;
            margin-bottom: 0;
        }
        &__subtext {
            font-size: 12px;
        }
        @media screen and (max-width: 320px) {
            padding: 0;
        }        
    }
    .bottom-footer {
        .columns-wrap {
            .bottom-footer-search {
                font-size: 18px;
                font-weight: bold;
                color: #CD040B;
                margin-bottom: 24px;
            }
            input {
                width: 100%;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                font-family: Helvetica, FontAwesome;
            }
            input::-webkit-input-placeholder {
                position: relative;
                left: 430px;
            }
            input::-webkit-input-placeholder::after {
                content: 'Im looking for...';
                
            }
            .copy {
                font-size: 12px;
                color: #959595;
            }
            .inline-list {
                li {
                    font-size: 12px;
                    color: #959595;
                }
            }

        }
        .search-wrap {
            // margin-bottom: 58px;
        }
        .footer-nav-row {
            .columns-wrap {
                padding-left: 30px;
                margin-bottom: 59px;
                .footer-nav-wrap {
                    padding: 0;
                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                    }
                    ul {
                        margin: 0;
                        li {
                            list-style-type: none;
                            color: #333333;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .disclosure-wrap {
            margin-top: 96px;
            margin-bottom: 62px;
        }
    }
    @media screen and (max-width: 320px) {
        padding: 0;
    }
}