.header {
    margin-top: 12px;
    border-bottom: 2px solid #F2F2F2;
    .nav-wrap {
        .fios-logo-wrap {
            margin-top: 36px;
        }
    }
    .aux-nav {
        // margin-bottom: 62px;
        &__links-left {
            float: left;
            a {
                color: #4B4B4B;
                font-size: 12px;
            }
        }
        &__links-right {
            float: right;
            li > * {
                display: inline;
                color: #4B4B4B;
            }
            a {
                color: #4B4B4B;
                font-size: 12px;
            }
        }
    }
    .main-nav {
        &__links {
            float: left;
            margin-top: 55px;
            a {
                font-size: 24px;
                font-weight: bold;
                color: black;
            }
        }
        &__phone-wrap {
            margin-top: 55px;
            line-height: 0;
            span {
                font-size: 12px;
            }
            p {
                color: #D52B1E;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}