.section--banner {
    .banner-column {
        padding: 0;
    }
    .banner-text {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        padding: 22px 0;
        .fa-home {
            color: #959595;
        }
        a {
            color: #CD040B;
        }
    }
}
.section--hero {
    background-image: url(../img/hero-bg.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;   
    padding-top: 88px;
    padding-bottom: 120px;
    .hero-wrap {     
        .hero-top-wrap {
            h2 {
                font-size: 60px;
                font-weight: bold;
                color: white;
            }
            P {
                font-size: 18px;
                color: white;
            }
        }
    }
    .hero-bottom-row {
        span {
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 13px;
        }
        .hero-top-wrap {
            h2 {
                font-size: 60px;
                font-weight: bold;
                color: white;
            }
            P {
                font-size: 18px;
                color: white;
            }
        }
    }    
}
.section--bundles {
    background-image: url(../img/bundle-bg.png);
    background-size: cover;
    background-position: -35px center;
    background-repeat: no-repeat;  
}

.section--verizon-fios {
    background-color: #F6F6F6;
    padding-top: 88px;
    padding-bottom: 106px;
    .verizon-fios-wrap {
        .columns-wrap {
            h2 {
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 0;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .customize-fios-wrap {
        .columns-wrap {
            padding-left: 0;
            div {
                border-top: 2px solid black;
            }
            h3 {
                padding-top: 4px;
                font-size: 24px;
                font-weight: bold;
            }
            p {
                color: #333333;
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
}

.section--upgrade {
    padding-top: 88px;
    padding-bottom: 106px;
    .upgrade-wrap {
        .columns-wrap {
            h2 {
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 0;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .upgrade-fiber-wrap {
        .columns-wrap {
            padding-left: 0;
            div {
                border-top: 2px solid black;
            }
            h3 {
                padding-top: 4px;
                font-size: 24px;
                font-weight: bold;
            }
            p {
                color: #333333;
                font-size: 14px;
                line-height: 1.2;
            }
        }        
    }
}

.section--why-fios {
    background-color: #F6F6F6;
    padding-top: 88px;
    padding-bottom: 106px;
    .verizon-fios-wrap {
        .columns-wrap {
            h2 {
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 0;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .customize-fios-wrap {
        .columns-wrap {
            padding-left: 0;
            div {
                border-top: 2px solid black;
            }
            h3 {
                padding-top: 4px;
                font-size: 24px;
                font-weight: bold;
            }
            p {
                color: #333333;
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
}
.section--mobile-app {
    padding-top: 96px;
    padding-bottom: 96px;
    .mobile-app-row {
        .columns-wrap {
            padding-left: 0;
            div {
                border-top: 2px solid black;
            }
            h2 {
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 56px;
            }            
            h3 {
                padding-top: 4px;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 12.2px;
            }
            p {
                color: #333333;
                font-size: 14px;
                line-height: 1.2;
                margin-bottom: 42px;
            }
        }        
    }
}

.section--ready {
    background-image: url(../img/ready-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    padding-top: 118px;
    padding-bottom: 97px;
    .ready-row {
        .columns-wrap {
            h2 {
                color: white;
                font-size: 60px;
                font-weight: bold;
                margin-bottom: 20px;                
            }
            p {
                color: white;
                font-size: 20px;
                // font-weight: bold;
                margin-bottom: 36px;                
            }
            a {
                color: white;
                font-weight: bold;
            }
        }
    }
}